@import "node_modules/ol/ol.css";

#main #map{
  position: relative;
  width: 60%;
  cursor: pointer;
  z-index: 1;
}

#map {
  position: relative;
  height: 100vh;
  float: right;
}

#api{
  position: static;
  float: left;
  text-align: center;
  margin-top: 3%;
  padding-left: 60px;
}

h1{
  color: #F99417;
}

#oficial{
  margin: 50px;
  width: 30%;
}

    
#form {
  position: relative;
  padding-top: 25%;
  text-align: center;
}

label{
  color: #F99417;
  font-size: large;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #363062;
}

