@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  background-color: #213555;
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  flex: 1;
}

#api {
  width: 35%;
  text-align: center;
  margin-top: 3%;

}

#map {
  flex: 1;
  width: 60%;
  height: 100vh;
  cursor: pointer;
}

h1 {
  color: #F0F0F0;
  ;
}

#oficial {
  margin: 30px;
  width: 35%;
}

#form {
  padding-top: 15%;
  text-align: center;
}

label {
  margin: 10px;
  color: #F0F0F0;
  font-size: 1.5rem;
  font-weight: bold;
}

input{
  margin: 10px;
  background-color: #F0F0F0;
  border-radius: 5px;
  font-size: 1.3rem;
}

button{
  margin-top: 20px;
  width: 90px;
  height: 35px;
  font-size: 1.1rem;
  background-color: #FFFF;
  border-radius: 5px;
  border: #F0F0F0;
  font-weight: 400;
}